.service-card {
    width: 70%;
    background: $light-gray;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

    &:hover {
        background-color: $light-red;
        transform: translateY(-10px);
    }

    .card-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
}